body {
    margin: 0;
    padding: 0;
    background-color: #222; /* Set your desired background color */
  }
  
  
  .chart-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
  }
  
  .chart-title {
    color: white;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  .dark-mode {
    background-color: #222;
    color: #fff;
    font-family: "Arial", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    overflow: auto;
  }
  
  .hud {
    background-color: rgb(30, 30, 30);
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  
  .state-street-logo {
    width: 150px; /* Adjust the width as needed */
    margin-right: 10px;
  }
  
  .hud-title {
    color: #001AFF;
    font-size: 24px;
    margin: 0;
    margin-left: auto; /* Move to the right side */
  }
  